
ul,ol{
    padding-left: 0 !important;
}
.container-xeberler a:hover{
    color: black;
    opacity: 1;
}
.container-xeberler h1{
    border-radius: 30px;
    width: 90%;
    margin: 0 auto;
    /* margin-left: 100px; */
    word-spacing: .16em !important;
    letter-spacing: .12em !important;

}
/* .right-yazi{
    font-weight: 600;
    color: inherit;
    display: block;
    margin-left: 50px;

    flex: 1;
 
   
}
.right-yazi a {
    max-width: 650px;
    padding-top: 35px

}

.right-yazi a:hover{
    color: rgb(56, 183, 39);
    opacity: 1;
} */


/* .items{
    display: flex;
}
.left-image{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
    max-width: 1248px;
    display: block;
    border-radius: 24px;
    overflow: hidden;
    display: block;
    margin-left: 100px;
    
} */

/* .col-md-6{
    display: flex;
    
} */

/* .spa{
    padding: 25px;
    background-color: #def4cd;
    color: black;
    border-radius: 28px;
} */
/* .left-image img{
    border-radius: 50px;
} */
/* .col-md-6 a{
    list-style: none;
    text-decoration: none;
    color: black;
    display: flex;
    scroll-snap-align: start;
    /* white-space: ; */
    /* padding-bottom: 3.2rem;
    transition: .6s;
    opacity: 1;
    font-weight: 600;
    color: #000000;
    margin-right: 3.2rem;
    position: relative;
    display: block;
    border-radius: 30px;
    margin: 0 auto;
    word-spacing: .16em !important;
    letter-spacing: .12em !important; */
/* }  */
/* .yyz{
    font-family: system-ui;
    margin-left: 100px;
}
.content h1{
    margin-left: 100px;
}
.content span{
    margin-left: 100px;
} */
.tab{
  margin-bottom: 50px;
}
.tab form{
    width: 90%;
    margin: 0 auto;
}
.body-building {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border: none;
    background: transparent;
  }
  .body_active {
    border-bottom: 3px solid;
    border-radius: 0px 0px 20px 20px;
  }

  .items{
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .items img{
    border-radius: 20px;
  }
  .items .right-yazi{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: 100%;
  }
  .right-yazi a{
    transition: .6s;
  }
  .right-yazi a:hover{
    color: green;
  }
  .items a{
    text-decoration: none;
    color: black;
    font-size: 25px;
  }
  .items-container{
    display: flex;
    row-gap: 30px;
  }
  .spa{
    width: max-content;
    background-color: #def4cd;
    padding: 7px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }

  .container-detal{
    width: 80%;
    margin: 0 auto;
  }
  .container-detal .content{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .yyz{
    line-height: 35px;
    text-align: justify;
    width: 90%;
  }