* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Ubuntu", sans-serif;
}

.header {
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 891px) {
  .header {
    display: none;
  }
}
.header__top {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header__top--left ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header__top--left ul li a {
  color: black;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  gap: 8px;
}
.header__top--right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header__top--button {
  padding: 7px;
  background: #80b554;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.header__top--button:hover {
  background: #97b87d;
}
.header__top--button a {
  color: white;
}
.header__top--dark span {
  background: black;
  padding: 4px 5px;
  color: white;
  font-size: 14px;
  border-radius: 50%;
}
.header__center {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgb(184, 180, 180);
  border-top: 1px solid rgb(184, 180, 180);
}
.header__center--left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header__center--logo {
  width: 160px;
  height: 30px;
}
.header__center--category ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  gap: 10px;
}
.header__center--category ul li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  gap: 5px;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
}
.header__center--category ul li:hover {
  background-color: #f1f4ee;
}
.header__center--right ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header__center--right ul li a {
  display: flex;
  gap: 3px;
  align-items: center;
}
.header__center--right .heder-call a {
  padding: 10px;
  border-radius: 20px;
  color: black;
  background-color: #f1f4ee;
}
.header__center--right .heder-call a i {
  font-size: 14px;
}
.header__center--right .heder-call a span {
  font-weight: 800;
}
.header__center--right .heder-internet {
  padding: 7px;
  background: #80b554;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.header__center--right .heder-internet:hover {
  background: #97b87d;
}
.header__center--right .heder-internet a {
  color: white;
}
.header__button {
  padding: 20px 0;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header__button--left ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  gap: 35px;
  align-items: center;
}
.header__button--left ul li a {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  gap: 10px;
  align-items: center;
  color: black;
}
.header__button--left ul li a img {
  height: 15px;
}
.header__button--right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header__search p {
  display: flex;
  height: 100%;
}
.header__search--button {
  border-radius: 40px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #f1f4ee;
  cursor: pointer;
}
.header__search--input {
  height: 100%;
  padding-left: 10px;
}
.header__novbe {
  padding: 10px;
  background: #000000;
  transition: 0.5s;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid;
}
.header__novbe a {
  color: #fff;
}
.header__novbe:hover {
  background-color: white;
}
.header__novbe:hover a {
  color: #000000;
}

.header__search--input {
  background-color: #f1f4ee;
  border: none;
  width: 0;
  transform: scale(0);
  transition: 0.9s;
  transform-origin: left;
  height: 40px;
}

.search-active {
  transform: scale(1) !important;
  border-radius: 0 40px 40px 0;
  width: 16rem;
}

.dowloud-open {
  background-color: #f1f4ee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #000;
  padding-top: 5px;
  cursor: pointer;
}

.headerDowloud {
  display: grid;
  grid-template-columns: 6fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 30px;
  left: 20px;
  bottom: 40px;
  position: fixed;
  width: 90%;
  margin: 0 auto;
  z-index: 2;
  height: 320px;
}
.headerDowloud a {
  color: rgb(0, 0, 0);
  transition: 0.6s;
}
.headerDowloud a:hover {
  color: #80b554;
}
.headerDowloud__left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.headerDowloud__left--top ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: baseline;
}
.headerDowloud__left--top ul li {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.headerDowloud__left--top ul li h3 {
  margin-bottom: 10px;
  color: black;
}
.headerDowloud__left--top ul li a {
  opacity: 0.7;
}
.headerDowloud__left--button ul {
  justify-content: space-around;
  width: 80%;
}
.headerDowloud__left--button ul li a {
  font-weight: bold;
}
.headerDowloud__right {
  position: relative;
}
.headerDowloud__right ul {
  flex-direction: column;
  row-gap: 12px;
  align-items: baseline;
}
.headerDowloud__right::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: black;
  left: -28px;
  top: 0;
}

.search-border {
  border-radius: 40px 0 0 40px;
}

.ofervlow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.hidden {
  display: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  background: white;
  transform-origin: left;
  transition: 0.8s;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  border-radius: 7px !important;
  background-color: #80b554 !important;
  transform: scaleX(1);
}

.Scrool {
  width: 95%;
  margin: 0 auto;
}

.ScroolItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ScroolItem__left {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
.ScroolItem__left h3 {
  text-align: justify;
}
.ScroolItem__left ul {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 891px) {
  .ScroolItem__left ul {
    flex-direction: column;
    row-gap: 10px;
  }
}
.ScroolItem__left ul span {
  opacity: 0.6;
  font-size: 14px;
}
@media screen and (max-width: 891px) {
  .ScroolItem__left ul span {
    font-size: 8px;
  }
}
.ScroolItem__left ul h4 {
  font-size: 16px;
}
@media screen and (max-width: 891px) {
  .ScroolItem__left ul h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 891px) {
  .ScroolItem__left ul li {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
.ScroolItem__left p {
  display: flex;
}
.ScroolItem__left a {
  color: white;
  padding: 7px;
  background: #80b554;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.ScroolItem__left a:hover {
  background: #97b87d;
}
.ScroolItem__right {
  width: 440px;
}
@media screen and (max-width: 891px) {
  .ScroolItem__right {
    width: 100%;
  }
}
.ScroolItem__right img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  padding-top: 0 !important;
  background-color: #f1f4ee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #000;
  padding-top: 5px;
  cursor: pointer;
  width: 45px !important;
  height: 45px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: #000;
}

.FastTransition {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 30px;
}
.FastTransition__logo {
  margin-top: 60px;
  font-size: 34px;
}
.FastTransition__categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 891px) {
  .FastTransition__categories {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.FastTransition__categories a {
  border-radius: 24px;
  background-color: #f1f4ee;
  padding: 22px;
  color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  height: 150px;
}
.FastTransition__categories a:hover img {
  transform: scale(1.1);
}
.FastTransition__categories a h3 {
  font-size: 16px;
}
.FastTransition__categories a img {
  transition: 0.6s;
  width: 100%;
}
.FastTransition__categories .premium {
  background-color: #000;
  color: white;
  position: relative;
  overflow: hidden;
}
.FastTransition__categories .premium img {
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: -moz-max-content;
  width: max-content;
}
.RabitaMobile {
  width: 75%;
  margin: 0 auto;
}
.RabitaMobile__container {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 891px) {
  .RabitaMobile__container {
    display: block;
  }
}
.RabitaMobile__container--left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.RabitaMobile__container--left h3 {
  font-size: 50px;
}
.RabitaMobile__container--left .qrKod {
  display: flex;
  align-items: center;
  gap: 10px;
}
.RabitaMobile__container--left .qrKod img {
  width: 150px;
}
.category-btn {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  border: none;
  background: transparent;
}

.Campaniyalar {
  width: 95%;
  margin: 0 auto;
}
.Campaniyalar h3 {
  font-size: 40px;
}
.Campaniyalar .Campaniyalar__categories {
  margin: 40px 0;
}
.Campaniyalar .Campaniyalar__categories ul {
  border-bottom: 1.5px solid gainsboro;
  display: flex;
  gap: 20px;
}
.Campaniyalar .productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 891px) {
  .Campaniyalar .productList {
    display: block;
  }
}
.Campaniyalar .productList li {
  height: 315px;
  box-sizing: border-box;
}
.Campaniyalar .productList__Item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f1f4ee;
  border-radius: 30px;
  padding: 20px;
  color: #000;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.Campaniyalar .productList__Item--left {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
}
.Campaniyalar .productList__Item--left span {
  background: #cce7af;
  color: #000;
  border-radius: 50px;
  height: 30px;
  min-width: 80px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.Campaniyalar .productList__Item--left h3 {
  font-size: 20px;
}
.Campaniyalar .productList__Item--left p {
  text-align: justify;
  font-size: 13px;
}
.Campaniyalar .productList__Item--right {
  overflow: hidden;
}
.Campaniyalar .productList__Item--right img {
  transition: 0.6s;
  width: 100%;
}
.Campaniyalar .productList__Item--right:hover img {
  transform: scale(0.9);
}

.active {
  border-bottom: 3px solid;
  border-radius: 0px 0px 20px 20px;
}

#CampaniyaItem {
  margin-top: 50px;
}

.CampaniyaItem {
  display: grid;
  grid-template-columns: 1fr 4fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 891px) {
  .CampaniyaItem {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.CampaniyaItem-photo {
  background-color: #f1f4ee;
  padding: 10px;
  border-radius: 30px;
  overflow: hidden;
  width: 250px;
  height: -moz-max-content;
  height: max-content;
}
.CampaniyaItem-photo:hover img {
  transform: scale(1.1);
}
.CampaniyaItem-photo img {
  width: 100%;
  transition: 0.6s;
}

.CampaniyaItem-word {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.CampaniyaItem-word h3 {
  font-size: 40px;
}
@media screen and (max-width: 891px) {
  .CampaniyaItem-word h3 {
    font-size: 20px;
  }
}
.CampaniyaItem-word p {
  font-size: 22px;
  opacity: 0.7;
}
@media screen and (max-width: 891px) {
  .CampaniyaItem-word p {
    font-size: 15px;
  }
}

.CampaniyaItem-dedline {
  background-color: #f1f4ee;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CampaniyaItem-dedline-left ul {
  display: flex;
  gap: 20px;
}
.CampaniyaItem-dedline-left ul li {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.CampaniyaItem-dedline-left ul li span {
  opacity: 0.7;
}

.CampaniyaItem-dedline-right a {
  padding: 7px;
  background: #80b554;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}
.CampaniyaItem-dedline-right a:hover {
  background: #97b87d;
}

.CampaniyaItem-Musteri {
  padding: 20px;
  border-radius: 20px;
  background-color: #f1f4ee;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.CampaniyaItem-Musteri p {
  font-size: 20px;
}
@media screen and (max-width: 891px) {
  .CampaniyaItem-Musteri p {
    font-size: 15px;
  }
}
.CampaniyaItem-Musteri ul {
  list-style: circle;
}
.CampaniyaItem-Musteri ul li {
  list-style: circle;
}

.queue {
  width: 95%;
  margin: 0 auto;
}
.queue__logo {
  margin-top: 50px;
}
.queue__logo h3 {
  font-size: 40px;
}
.queue__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 40px;
}
@media screen and (max-width: 891px) {
  .queue__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.queue__container--left {
  background-color: #f1f4ee;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.queue__container--left h3 {
  font-size: 30px;
}
@media screen and (max-width: 891px) {
  .queue__container--left h3 {
    font-size: 20px;
  }
}
.queue__container--left p {
  font-size: 20px;
}
@media screen and (max-width: 891px) {
  .queue__container--left p {
    font-size: 15px;
  }
}
.queue__container--left form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.queue__container--left form ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.queue__container--left form ul li {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.queue__container--left form ul li label {
  opacity: 0.6;
  font-size: 14px;
}
.queue__container--left form ul li select,
.queue__container--left form ul li input {
  height: 40px;
  border-radius: 7px;
  border: 1px solid grey;
  padding-left: 5px;
}
.queue__container--right {
  border-radius: 30px;
  overflow: hidden;
}
.queue__container--right iframe {
  height: 100%;
  width: 100%;
}

.numberInput {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.numberInput label {
  opacity: 0.6;
  font-size: 14px;
}
.numberInput__container {
  display: flex;
  border: 0.3px solid;
  border-radius: 7px;
  /* Firefox */
}
.numberInput__container select,
.numberInput__container input {
  border: none;
  padding-left: 10px;
  height: 40px;
}
.numberInput__container select {
  border-radius: 7px 0 0 7px;
}
.numberInput__container input {
  border-radius: 0 7px 7px 0;
  width: 100%;
}
.numberInput__container input::-webkit-outer-spin-button,
.numberInput__container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numberInput__container input[type=number] {
  -moz-appearance: textfield;
}

.SubmiteForm {
  padding: 7px;
  background: #80b554;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
  height: 30px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  width: 100px;
}
.SubmiteForm:hover {
  background: #97b87d;
}
.SubmiteForm input {
  background: transparent;
  border: navajowhite;
  color: white;
  width: 100%;
  text-align: center;
}

.form-control {
  transition: 0.3s;
}
.form-control:hover {
  border-color: green;
}

.BasketMenu {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  cursor: pointer;
}
.BasketMenu .basket {
  width: 30px;
  height: 3px;
  background-color: #000000;
  transition: 0.6s;
}
.BasketMenu .basket-center {
  width: 20px;
}

.basketActive {
  transition: 0.5s;
}
.basketActive .basket-left {
  transform: rotate(45deg) translate(0px, -1px);
}
.basketActive .basket-center {
  display: none;
}
.basketActive .basket-right {
  transform: rotate(-45deg) translate(5px, -4px);
}

.headerMobile {
  width: 95%;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 891px) {
  .headerMobile {
    display: block;
  }
}
.headerMobile__top {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMobile__top--left ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.headerMobile__top--right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.headerMobile__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  border-top: 0.5px solid;
  padding-top: 10px;
}
.headerMobile__center--left img {
  width: 200px;
}
.headerMobileDowloud {
  position: absolute;
  left: 0;
  width: 90%;
  background-color: rgb(166, 159, 159);
  z-index: 555;
  padding: 20px;
  top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  transform: scale(0);
  transition: 0.8s;
  transform-origin: unset;
  overflow-y: scroll;
  height: 350px;
}
.headerMobileDowloud ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.headerMobileDowloud ul h3 {
  margin-bottom: 10px;
}
.headerMobileDowloud ul li {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.headerMobileDowloud ul li a {
  color: rgb(0, 0, 0);
  opacity: 0.8;
  transition: 0.6s;
}
.headerMobileDowloud ul li a:hover {
  opacity: 1;
  color: #6fff00;
}
.header__novbe {
  display: flex;
  justify-content: center;
  width: auto;
}

.scaleo {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */