* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Ubuntu", sans-serif;
}
@import 'mixins';
@import 'variables';
@mixin display {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@mixin buttonGreen {
  padding: 7px;
  background: #80b554;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
  &:hover {
    background: #97b87d;
  }
}
@mixin buttonGrey {
  background-color: #f1f4ee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #000;
  padding-top: 5px;
  cursor: pointer;
}
.header {
  width: 95%;
  margin: 0 auto;
  // display: none;
  @include mobile(){
    display: none;
  }
  // .header__top
  &__top {
    padding: 15px 0;
    @include display();
    
  }

  // .header__top--left

  &__top--left {
    ul {
      @include display();
      li {
        a {
          color: black;
          opacity: 0.6;
          @include display();
          gap: 8px;
        }
      }
    }
  }

  // .header__top--right

  &__top--right {
    @include display();
    align-items: center
  }

  // .header__top--button

  &__top--button {
    @include buttonGreen();
    
    a {
      color: white;
    }
  }

  // .header__top--dark

  &__top--dark {
    span {
      background: black;
      padding: 4px 5px;
      color: white;
      font-size: 14px;
      border-radius: 50%;
    }
  }

  // .header__top--language

  &__top--language {
    select{
      border: none
    }
  }

  // .header__center
.header-container{
  margin-bottom: 80px;
}
  &__center {
    @include display();
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgb(184, 180, 180);
    border-top: 1px solid rgb(184, 180, 180);
  }

  // .header__center--left

  &__center--left {
    @include display();
    align-items: center;
  }

  // .header__center--logo

  &__center--logo {
    width: 160px;
    height: 30px;
  }

  // .header__center--category

  &__center--category {
    ul {
      @include display();
      gap: 10px;
      li {
        @include display();
        gap: 5px;
        padding: 10px;
        transition: 0.5s;
        cursor: pointer;
        border-radius: 10px;
        &:hover {
          background-color: #f1f4ee;
        }
      }
    }
  }

  // .header__center--right

  &__center--right {
    ul {
      @include display();
      align-items: center;
      li {
        a {
          display: flex;
          gap: 3px;
          align-items: center;
        }
      }
    }
    .heder-call {
      a {
        padding: 10px;
        border-radius: 20px;
        color: black;
        background-color: #f1f4ee;
        i {
          font-size: 14px;
        }
        span {
          font-weight: 800;
        }
      }
    }
    .heder-internet {
      @include buttonGreen();
      a {
        color: white;
      }
    }
  }

  // .header__button

  &__button {
    padding: 20px 0;
    height: 40px;
    position: relative;
    @include display();
    align-items: center;
  }

  // .header__button--left

  &__button--left {
    ul {
      @include display();
      gap: 35px;
      align-items: center;
      li {
        a {
          @include display();
          gap: 10px;
          align-items: center;
          color: black;
          img {
            height: 15px;
          }
        }
      }
    }
  }

  // .header__button--right

  &__button--right {
    @include display();
    align-items: center;
  }

  // .header__search

  &__search {
    p {
      display: flex;
      height: 100%;
    }
  }

  // .header__search--button

  &__search--button {
    border-radius: 40px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #f1f4ee;
    cursor: pointer;
  }

  // .header__search--input

  &__search--input {
    height: 100%;
    padding-left: 10px;
  }
  // .header__novbe

  &__novbe {
    padding: 10px;
      background: #000000;
      transition: 0.5s; 
      border-radius: 10px;
      width: max-content;
      border: 1px solid;
    a {
      
      color: #fff;
     
      
     
    } 
    &:hover {
        background-color: white;
        a{
          color: #000000;
        }
        
      }
  }
}

.header__search--input {
  background-color: #f1f4ee;
  border: none;
  // display: none;
  width: 0;
  transform: scale(0);
  transition: 0.9s;
  transform-origin: left;
  height: 40px;
}
.search-active {
  transform: scale(1) !important;
  border-radius: 0 40px 40px 0;
  width: 16rem;
}

.dowloud-open {
  @include buttonGrey();
}
.headerDowloud {
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 30px;
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 30px;
  left: 20px;
  // top: 50px;
  bottom: 40px;
  position: fixed;
  width: 90%;
  margin: 0 auto;
  z-index: 27;
  height: 320px;
  a {
    color: rgb(0, 0, 0);
    transition: 0.6s;
    &:hover {
      color: #80b554;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  // .headerDowloud__left--top

  &__left--top {
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 15px;
      align-items: baseline;
      li {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        h3 {
          margin-bottom: 10px;
          color: black;
        }
        a {
          opacity: 0.7;
        }
      }
    }
  }

  // .headerDowloud__left--button

  &__left--button {
    ul {
      display: flex;
      justify-content: space-around;
      width: 80%;
      // margin-top: 30px;
      li {
        a {
          font-weight: bold;
        }
      }
    }
  }

  // .headerDowloud__right

  &__right {
    position: relative;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      align-items: baseline;
      li {
        // a{
        //   color: rgb(0, 0, 0);

        // }
      }
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      background-color: black;
      left: -28px;
      top: 0;
    }
  }
}
.search-border {
  border-radius: 40px 0 0 40px;
}
.ofervlow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 25;
}
.hidden {
  display: none !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  background: white;
  transform-origin: left;
  transition: 0.8s;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  border-radius: 7px !important;
  background-color: #80b554 !important;
  transform: scaleX(1);
}
.Scrool {
  width: 95%;
  margin: 0 auto;
}
.ScroolItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  cursor: grab;
  &:active{
    cursor:grabbing;
  }
  // .ScroolItem__left

  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 80%;
    margin: 0 auto;
    // align-items: center;
    justify-content: center;
    h3{
      text-align: justify;
    }
    ul {
      display: flex;
      gap: 30px;
      @include mobile(){
        flex-direction: column;
        row-gap: 10px;
      }
      span {
        opacity: 0.6;
        font-size: 14px;
        @include mobile(){
          font-size: 8px;
        }
        
      }
      h4{
          font-size: 16px;
          @include mobile(){
            font-size: 14px;
          }
        }
        li{
          @include mobile(){
            display: flex;
            flex-direction: column;
            align-items: end;
          }
        }
    }
    p {
      display: flex; 
      // justify-content: center;
      // justify-content: center;
    }
    a {
     color: white;
     @include buttonGreen();
    }
  }

  // .ScroolItem__right

  &__right {
    width: 440px;
    @include mobile(){
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  padding-top: 0 !important;
  @include buttonGrey();
  width: 45px !important;
  height: 45px !important;
  &::after {
    font-size: 20px !important;
    color: #000;
  }
}
// .sticky {
//   position: sticky;
//   top: 0;
//   z-index: 1000; /* Поднимает элемент над другими элементами */
//   background-color: #fff; /* Задает цвет фона элемента */
//   width: 100%;
//   left: 0;
// }
.FastTransition {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
  row-gap: 30px;
  // .FastTransition__logo

  &__logo {
    margin-top: 60px;
    font-size: 34px;
  }

  // .FastTransition__categories

  &__categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    @include mobile(){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    a {
      border-radius: 24px;
      background-color: #f1f4ee;
      padding: 22px;
      color: #000;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      // row-gap: 20px;
      justify-content: space-between;
      height: 150px;
      h3 {
        // text-align: center;
        font-size: 16px;
      }
      img {
        transition: 0.6s;
        width: 100%;
      }
    }
    .premium {
      background-color: #000;
      color: white;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        right: 0px;
        bottom: 20px;
        width: max-content;
      }
    }
    
  }

  // .FastTransition__categories--category

  &__categories--category {
  }
  // .FastTransition__categories--img
  &__categories--img{
    display: flex;
    width: 60%;
    margin: 0 auto;
    height: 100%;
  }
}

.RabitaMobile {
  width: 75%;
  margin: 0 auto;
  // .RabitaMobile__container

  &__container {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    @include mobile(){
      display: block;
    }
  }

  // .RabitaMobile__container--left

  &__container--left {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    h3 {
      font-size: 50px;
    }
    .qrKod {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 150px;
      }
    }
  }

  // .RabitaMobile__container--right

  &__container--right {
  }
}

.category-btn {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  border: none;
  background: transparent;
}
// .category-btn.active {
//   background-color: rgb(0, 191, 255);
// }
.Campaniyalar {
  width: 95%;
  margin: 0 auto;
  h3 {
    font-size: 40px;
  }
  .Campaniyalar__categories {
    margin: 40px 0;
    ul {
      border-bottom: 1.5px solid gainsboro;
      display: flex;
      gap: 20px;
      .category-btn {
      }
    }
  }
  .productList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include mobile (){
      display: block;
    }
    li{
      height: 315px;
      box-sizing: border-box;
    }
    &__Item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: #f1f4ee;
      border-radius: 30px;
      padding: 20px;
      color: #000;
      column-gap: 8px;
      &--left {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        justify-content: center;
        span {
          background: #cce7af;
          color: #000;
          border-radius: 50px;
          height: 30px;
          min-width: 80px;
          width: max-content;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          // box-sizing: border-box;
        }
        h3 {
          font-size: 20px;
        }
        p {
          text-align: justify;
          font-size: 13px;
        }
      }
      &--right {
        overflow: hidden;
        img {
          transition: .6s;
          width: 100%;
          
        }
        &:hover{
          img{
            transform: scale(.9);
          }
        }
      }
    }
  }
}
.active {
  border-bottom: 3px solid;
  border-radius: 0px 0px 20px 20px;
}

#CampaniyaItem {
  margin-top: 50px;
}
.CampaniyaItem {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 35px;
  width: 95%;
  margin: 0 auto;
  @include mobile(){
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.CampaniyaItem-photo {
  background-color: #f1f4ee;
  padding: 10px;
  border-radius: 30px;
  overflow: hidden;
  width: 250px;
  height: max-content;
  &:hover {
    img {
      transform: scale(.9);
    }
  }
  img {
    width: 100%;
    transition: 0.6s;
  }
}
.CampaniyaItem-word {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  h3 {
    font-size: 40px;
    @include mobile(){
      font-size: 20px;
    }
  }
  p {
    font-size: 22px;
    opacity: 0.7;
    @include mobile(){
      font-size: 15px;
    }
  }
}
.CampaniyaItem-dedline {
  background-color: #f1f4ee;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CampaniyaItem-dedline-left {
  ul {
    display: flex;
    gap: 20px;
    li {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      span {
        opacity: 0.7;
      }
    }
  }
}
.CampaniyaItem-dedline-right {
  a {
    @include buttonGreen();
  }
}
.CampaniyaItem-Musteri {
  padding: 30px;
  border-radius: 20px;
  background-color: #f1f4ee;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  p {
    font-size: 20px;
    @include mobile(){
      font-size: 15px;
    }
  }
  ul {
    list-style: circle;
    li {
      list-style: circle;
    }
  }
}

.queue {
  width: 95%;
  margin: 0 auto;

  // .queue__logo
  &__logo {
    margin-top: 50px;
    h3 {
      font-size: 40px;
    }
  }
  // .queue__container

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 40px;
    @include mobile(){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .queue__container--left

  &__container--left {
    background-color: #f1f4ee;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    h3 {
      font-size: 30px;
      @include mobile(){
        font-size: 20px;
      }
    }
    p {
      font-size: 20px;
      @include mobile(){
        font-size: 15px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        li {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          label {
            opacity: 0.6;
            font-size: 14px;
          }
          select,
          input {
            height: 40px;
            border-radius: 7px;
            border: 1px solid grey;
            padding-left: 5px;
          }
        }
      }
    }
  }

  // .queue__container--right

  &__container--right {
    border-radius: 30px;
    overflow: hidden;
    iframe{
      height: 100%;
      width: 100%;
    }
  }
}
.numberInput {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  label {
    opacity: 0.6;
    font-size: 14px;
  }
  &__container {
    display: flex;
    border: 0.3px solid;
    border-radius: 7px;
    select,
    input {
      border: none;
      padding-left: 10px;
      height: 40px;
    }
    select {
      border-radius: 7px 0 0 7px;
    }
    input {
      border-radius: 0 7px 7px 0;
      width: 100%;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
.SubmiteForm{
  @include buttonGreen();
  height: 30px;
  width: max-content;
  display: flex;
  align-items: center;
  width: 100px;
  input{
    background: transparent;
    border: navajowhite;
    color: white;
    width: 100%;
    text-align: center;
  }
 
}
.form-control{
  transition: .3s;
  width: 100%;
  &:hover{
    border-color: green;
  }
}
.BasketMenu {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  cursor: pointer;

  .basket {
    width: 30px;
    height: 3px;
    background-color: #000000;
    transition: 0.6s;
  }
  .basket-center{
    width: 20px;

  }
}
.basketActive {
  transition: 0.5s;
  .basket-left {
    transform: rotate(45deg) translate(0px, -1px);
  }

  .basket-center {
    display: none;
  }

  .basket-right {
    transform: rotate(-45deg) translate(5px, -4px);
  }
}
.headerMobile {
width: 95%;
margin: 0 auto;
display: none;
@include mobile(){
  display: block;
}
  // .headerMobile__top

  &__top {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .headerMobile__top--left

  &__top--left {
    ul{
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }

  // .headerMobile__top--right

  &__top--right {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  // .headerMobile__center

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    border-top: .5px solid;
    padding-top: 10px;
  }

  // .headerMobile__center--left

  &__center--left {
    img{
      width: 200px;
    }
  }

  // .headerMobile__center--right

  &__center--right {
  }
}


.headerMobileDowloud {
position: absolute;
left: 0;
width: 90%;
background-color: rgb(166, 159, 159);
z-index: 555;
padding: 20px;
top: 60px;
display: flex;
flex-direction: column;
row-gap: 25px;
transform: scale(0);
transition: .8s;
transform-origin:unset;
overflow-y: scroll;
height: 350px;
ul{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  h3{
    margin-bottom: 10px;
  }
  li{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    a{
      color: rgb(0, 0, 0);
      opacity: .8;
      transition: .6s;
      &:hover{
        opacity: 1;
        color: #6fff00;
      }
    }
  }
}
  // .headerMobileDowloud__left

  &__left {
  }

  // .headerMobileDowloud__left--top

  &__left--top {
    // ul{
    //   li{
    //     display: flex;
    //     flex-direction: column;
    //     a{
    //       color: white;
    //     }
    //   }
    // }
  }
  // .headerMobileDowloud__right
  &__right{

  }
}
.header {

  // .header__novbe

  &__novbe {
    display: flex;
    justify-content: center;
    // width: 100%;
    width: auto;
  }
}

.scaleo{
  transform: scale(1);
}

.RabitaValyuta {
  width: 95%;
  margin: 0 auto;

  // .RabitaValyuta__left

  &__left {
    background-color: #F1F4EE;
    padding: 30px;
    border-radius: 30px;
  }

  // .RabitaValyuta__container

  &__container {
  }

  // .RabitaValyuta__container--logo

  &__container--logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  // .RabitaValyuta__container--centr

  &__container--centr {
    table{
      width: 100%;
      
      th{
        text-align: inherit;
        font-size: 14px;
        opacity: .6;
        padding: 10px;
        padding-bottom: 20px;
      }
      td{
        padding: 8px;
      }
      .tdBold{
        font-weight:bold;
      }
      .tdCircle{
        position: relative;
        &::after{
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: cadetblue;
          left: -7px;
          top: 16px
        }
      }
      
    }
  }

  // .RabitaValyuta__container--button

  &__container--button {
    display: grid;
    grid-template-columns: 3fr 1fr ;
    column-gap: 20px;
    margin-top: 10px;
    align-items: center;
  }

  // .RabitaValyuta__container--word

  &__container--word {
    p{
      font-size: 14px;
    opacity: .6;
    }
  }

  // .RabitaValyuta__container--link

  &__container--link {
    height: 100%;
    button{
      @include buttonGreen();
      border: none;
      height: 100%;
      cursor: pointer;
    }
  }
}
.ValyutaCheck {
  display: flex;
  gap: 10px;
}
.ValyutaLeft {
}
.ValyutaCentre {
  width: 30px;
  border-radius: 30px;
  background: black;
  position: relative;
  span{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    left: 4px;
    top: 7px;
  }
}
.ValyutaRight {
}

.is-sticky {
  position: fixed;
  width: 96%;
  left: 25px;
  z-index: 20;
  background: #fff;
  top: -3px;
}
footer{
  width: 95%;
  margin: 0 auto;
  padding-top: 50px;
}

.MyInput {
  background: linear-gradient(to right, #80b554 0%, #80b554 50%, #fff 50%, #fff 100%);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  // width: 356px;
  outline: none;
  border: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  width: 100%;
  height: 7px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.MyInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 5px solid;
  cursor: pointer;
}
.RabitaValyutaCont{
  margin-top: 50px;
  display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 20px;
@include mobile(){
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
}
.RabitaValyuta {

  // .RabitaValyuta__right

  &__right {
    background-color: #f3f4f5;
    padding: 30px;
    border-radius: 30px;
  }

  // .RabitaValyuta__right--container

  &__right--container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  // .RabitaValyuta__right--top

  &__right--top {
    h3{
      font-size: 30px;
    }
  }

  // .RabitaValyuta__right--center

  &__right--center {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    label{
      opacity: .7;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  // .RabitaValyuta__right--button

  &__right--button {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .RabitaValyuta__total

  &__total {
  b{
    font-size: 24px;
    font-weight: 800;
  }
  }

  // .RabitaValyuta__submit
  &__submit{
    button{
      @include buttonGreen();
      outline: none;
      padding: 15px;
      border: none;
    }
    
  }
}
.kreditMebleg {
  
}
.kreditInput {
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.kredit-word {
  display: flex;
  justify-content: space-between;
}
.textAzn {
}
.MyInput {
}
.kreditCategory {
  ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
.textAy {
}
.textDerece {
}
.totalKredit {
  display: flex;
  gap: 10px;
  align-items: center;
  span{
    opacity: .5;
    font-size: 13px;
  }
}

#prefix{
  width: 60px;
}