<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div id="CampaniyaItem">
            <div class="CampaniyaItem">
        <div class="CampaniyaItem-photo">
            <img src="../img/campaniya1.webp" alt="">
        </div>
        <div class="CampaniyaItem-word">
            <h3>Bahar kampaniyası</h3>
            <p>Müştərilərimizə arzularını rahatlıqla gerçəkləşdirmək üçün nağd pul krediti üzrə "Bahar kampaniyası" təklif edirik. 🌸</p>
            <div class="CampaniyaItem-dedline">
                <div class="CampaniyaItem-dedline-left">
                    <ul>
                        <li><span>Başlanma vaxtı</span><h4>1 Mart 2024</h4></li>
                        <li><span>Bitmə vaxtı</span><h4>21 İyun 2024</h4></li>
                    </ul>
                </div>
                <div class="CampaniyaItem-dedline-right">
                    <a href="https://www.rabitabank.com/ferdi/kredit-sifarisi-kreditler/nagd-pul-krediti">Sifariş et</a>
                </div>
            </div>
            <div class="CampaniyaItem-Musteri">
                <p>Müştərilərimizə arzularını rahatlıqla gerçəkləşdirmək üçün nağd pul krediti üzrə "Bahar kampaniyası" təklif edirik. Xüsusi kateqoriyaya daxil edilmiş  dövlət və özəl müəssisələrdə çalışanlar üçün əlavə güzəştlər nəzərdə tutulur. </p>
                <ul>
                    <li>İllik faiz dərəcəsi: 11.5%-dən</li>
                    <li>Məbləğ: 30 000 AZN-dək</li>
                    <li>Kreditin müddəti: 48 ayadək</li>
                    <li>Transfer kreditləri üçün - 0% komissiya</li>
                    <li>Standart kampaniya şərtləri ilə kredit verilərkən - 1% komissiya</li>
                </ul>
            </div>
        </div>
    </div>
    </div>

</body>
</html>