{% extends 'base.html' %}

{% block content %}
    <div class="Campaniyalar">
        <h3>Campaigns</h3>
        <div class="Campaniyalar__categories">

            <form method="get" action="/Campaigns">
                <input {% if category == "All campaigns" %} class ='category-btn active' {%else%} class="category-btn" {%endif%}  type="submit" name="category" value="All campaigns" >
                <input {% if category == "Loans" %} class ='category-btn active' {%else%} class="category-btn" {%endif%} type="submit" name="category" value="Loans">
                <input {% if category == "Deposits" %} class ='category-btn active' {%else%} class="category-btn" {%endif%} type="submit" name="category" value="Deposits">
            </form>
            
        </div> 
         <ul class="productList">
                {% for product in products %}
                <li>
                    <a class="productList__Item" href="/Campaigns/{{product.id}}">
                        <div class="productList__Item--left">
                            <span>{{product.date}}</span>
                            <h3>{{product.name}}</h3>
                            <p>{{product.title}}</p>
                        </div>
                        <div class="productList__Item--right">
                            <img src="{{product.image_url}}" alt="">
                        </div>
                    </a>
                </li>
                    
                {% endfor %}
            </ul>
    </div>
  
{% endblock %}

{% block script%}
 <!-- <script src="{{url_for('static',filename = 'main/Campaigns.js')}}"></script> -->
{% endblock%}
    <!-- <script src="../main/home.js"></script>
    -->
