{% extends 'base.html' %} {% block style %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %} {% block content %}
<div class="Scrool">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for i in ScroolData %}
      <div class="swiper-slide">
        <div class="ScroolItem">
          <div class="ScroolItem__left">
            <h3>{{i.name}}</h3>
            <ul>
              <li>
                <span>Cash Out</span>
                <h4>{{i.cash}} %</h4>
              </li>
              <li>
                <span>Grace period</span>
                <h4>{{i.gracePeriod}} days</h4>
              </li>
              <li>
                <span>Card limit</span>
                <h4>{{i.CardMin}} - {{i.CardMax}} AZN</h4>
              </li>
            </ul>
            <p>
              <a
                href="https://www.rabitabank.com/individual-customer/cards/kartmane-kredit-en#calc"
                >Order</a
              >
            </p>
          </div>
          <div class="ScroolItem__right">
            <img src="{{i.image_url}}" alt="" />
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
 
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<section class="FastTransition">
  <div class="FastTransition__logo">
    <h3>Fast transitions</h3>
  </div>
  <div class="FastTransition__categories">
    <a
      href="https://www.rabitabank.com/individual-customer/loans-rabitabank/cash-loan"
      class="FastTransition__categories--category"
    >
      <h3>Cash Loans</h3>
      <img src="../static/img/Cash.webp" alt="" />
    </a>
    <a
      href="https://www.rabitabank.com/individual-customer/deposits-eng/universal-deposit-eng"
      class="FastTransition__categories--category"
    >
      <h3>Deposits</h3>
      <img src="../static/img/Deposit.webp" alt="" />
    </a>
    <a
      href="https://www.rabitabank.com/individual-customer/cashback"
      class="FastTransition__categories--category"
    >
      <h3>Cashback</h3>
      <img src="../static/img/Cashback.webp" alt="" />
    </a>
    <a
      href="https://www.rabitabank.com/individual-customer/fastmoneytransfers-rb"
      class="FastTransition__categories--category"
    >
      <h3>Money Transfers</h3>
      <img src="../static/img/Money.webp" alt="" />
    </a>
    <a
      href="https://www.rabitabank.com/individual-customer/campaigns"
      class="FastTransition__categories--category"
    >
      <h3>Campaigns</h3>
      <img src="../static/img/Campaigns.webp" alt="" />
    </a>
    <a
      href="https://www.rabitabank.com/individual-customer/cards/kartmanepremium"
      class="FastTransition__categories--category premium"
    >
      <h3>Kartname Premium</h3>
      <img src="../static/img/Kartname.webp" alt="" />
    </a>
  </div>
</section>
<section class="RabitaMobile">
  <div class="RabitaMobile__container">
    <div class="RabitaMobile__container--left">
      <h3>Rabita Mobile</h3>
      <p>
        Experience seamless and secure banking on your smartphone or tablet by
        downloading our Banking App - Rabita Mobile!
      </p>
      <div class="qrKod">
        <img src="../static/img/qrkod.png" alt="" />
        <span>Scan a QR code with your camera</span>
      </div>
    </div>
    <div class="RabitaMobile__container--right">
      <img src="../static/img/mobile_basic.png" alt="" />
    </div>
  </div>
</section>
{% for i in data %}
<!-- <p>{{i}}</p> -->
{{i.Valute}}
{%endfor%}
{% endblock %}}}

<!-- Swiper JS -->

<!-- Initialize Swiper -->

{% block script%}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% endblock%}
