<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bb14fd2e01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/style.css">
    <!-- css swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>
<body>
    <div class="ofervlow hidden"></div>
    <header class="header">
        <nav class="header__top">
            <div class="header__top--left">
                <ul>
                    <li><a href="https://www.rabitabank.com/bank-haqqinda/umumi-melumat"><i class="fa-solid fa-window-maximize"></i> <span>Ümumi məlumat</span></a></li>
                    <li><a href="https://www.rabitabank.com/filial-ve-bankomatlar/filiallar"><i class="fa-solid fa-map-location"></i><span>Filial və bankomatlar</span></a></li>
                </ul>
            </div>
            <div class="header__top--right">
                <div class="header__top--button">
                    <a href="https://30il.rabitabank.com/">Rabitəbank 30 il</a>
                </div>
                <div class="header__top--dark">
                    <span><i class="fa-regular fa-sun"></i></span>
                    <!-- <i class="fa-solid fa-moon"></i> -->
                    
                </div>
                <div class="header__top--language">
                    <label for="cars">Aze</label>

                    <select id="cars">
                      <option value="Ru">Ru</option>
                      <option value="En">En</option>
                    </select>
                </div>
            </div>
        </nav>
        <div class="sticky">
        <nav class="header__center">
            <div class="header__center--left">
                <a href="./home.html" class="header__center--logo">
                    <img src="../img/rabitebank-logo.svg" alt="">
                </a>
                <div class="header__center--category">
                    <ul>
                        <li><i class="fa-solid fa-user"></i> <span>Personal</span></li>
                        <li><i class="fa-solid fa-business-time"></i> <span>Business</span></li>
                    </ul>
                </div>
            </div>
            <div class="header__center--right">
                <ul>
                    <li class="heder-call"><a href="tel:133"><i class="fa-solid fa-phone-volume"></i> <span>133</span></a></li>
                    <li class="heder-internet"><a href="https://ib.rabitabank.com/InterBank/#/"><i class="fa-regular fa-circle-right"></i> <span>İnternet Banking</span></a></li>
                </ul>
            </div>
        </nav>
        <nav class="header__button">
            <div class="header__button--left">
                <ul>
                    <li><a href="">Loans</a></li>
                    <li><a href=""><img src="../img/header_card.webp" alt="">Cards</a></li>
                    <li><a href="">Deposits</a></li>
                    <li class="dowloud-open"><span>...</span>
                     <div class="headerDowloud hidden">
                        <div class="headerDowloud__left">
                            <div class="headerDowloud__left--top">
                                <ul>
                                    <li>
                                        <h3>Loans</h3>
                                        <a href="https://www.rabitabank.com/individual-customer/loans-rabitabank/cash-loan">Cash loan</a>
                                        <a href="https://www.rabitabank.com/individual-customer/loans-rabitabank/mortgage-loan">Mortgage loan</a>
                                        <a href="https://www.rabitabank.com/individual-customer/loans-rabitabank/lombard-loan">Lombard loan</a>
                                        <a href="https://www.rabitabank.com/individual-customer/loans-rabitabank/special-mortgage-loan-offer-from-mida">Special mortgage loan offer from "MİDA"</a>
                                        <a href="https://www.rabitabank.com/individual-customer/loans-rabitabank">All loans</a>
                                    </li>
                                    <li>
                                        <h3>Cards</h3>
                                        <a href="https://www.rabitabank.com/individual-customer/cards/kartmanedebet">Kartmane Debit</a>
                                        <a href="https://www.rabitabank.com/individual-customer/cards/kartmane-kredit-en">Kartmane Credit</a>
                                        <a href="https://www.rabitabank.com/individual-customer/cards/kartmanepremium">Kartmane Premium</a>
                                        <a href="https://www.rabitabank.com/individual-customer/cards/kartmane-non-resident">Kartmane Card for Non-Residents</a>
                                    </li>
                                    <li>
                                        <h3>Deposits</h3>
                                        <a href="https://www.rabitabank.com/individual-customer/deposits-eng/universal-deposit-eng">Universal Deposit</a>
                                        <a href="https://www.rabitabank.com/individual-customer/deposits-eng/child-savings-deposit">Child savings deposit</a>
                                        <a href="https://www.rabitabank.com/individual-customer/deposits-eng/deposit-safes">Deposit safes</a>
                                        <a href="https://www.rabitabank.com/individual-customer/deposits-eng/depozit-eng-2">Savings deposit</a>
                                    </li>
                                    <li>
                                        <h3>Online services</h3>
                                        <a href="https://www.rabitabank.com/individual-customer/loans-rabitabank">Order a Loan</a>
                                        <a href="https://www.rabitabank.com/individual-customer/cards/kartmanedebet">Order a Card - Kartmane Debet</a>
                                        <a href="https://www.rabitabank.com/individual-customer/cards/kartmane-kredit-en">Order a Card - Kartmane Credit</a>
                                        <a href="https://www.rabitabank.com/individual-customer/online-services/online-payments">Online Payments</a>
                                        <a href="https://ib.rabitabank.com/Azericard?lang=en">Online Loan Payment</a>
                                        <a href="https://www.rabitabank.com/individual-customer/online-services/sms-notifications">SMS Notifications</a>
                                        <a href="https://www.rabitabank.com/individual-customer/online-services/online-turn">Online Queue</a>
                                    </li>
                                    <li>
                                        <h3>Other services</h3>
                                        <a href="https://www.rabitabank.com/individual-customer/fastmoneytransfers-rb">Money Transfers</a>
                                        <a href="https://www.rabitabank.com/individual-customer/other-services/settlement-and-cash-transactions">Settlement and cash transactions</a>
                                        <a href="https://www.rabitabank.com/individual-customer/deposits-eng/deposit-safes">Deposit safes</a>
                                        <a href="https://www.rabitabank.com/individual-customer/other-services/insurance-services"> services</a>
                                        <a href="https://www.rabitabank.com/branches-atms">Service network</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="headerDowloud__left--button">
                                <ul>
                                    



                                    <li><a href="https://www.rabitabank.com/individual-customer/fastmoneytransfers-rb">Money transfers</a></li>
                                    <li><a href="./Campaigns.html">Campaigns</a></li>
                                    <li><a href="https://www.rabitabank.com/individual-customer/security">Security</a></li>
                                    <li><a href="https://www.rabitabank.com/individual-customer/partners">Partners</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="headerDowloud__right">
                            <ul>
                                <li><a href="https://www.rabitabank.com/individual-customer/news">News</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/cashback">Cashback</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/apple-pay-eng">Apple Pay</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/mobile-banking-en">Rabita Mobile</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/google-pay-eng">Google Pay™</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/bankchiliq-lugeti-en">Vocabulary</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/rabita-bot-eng">Rabita Bot</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/loan-calculator">Loan calculator</a></li>
                                <li><a href="https://www.rabitabank.com/individual-customer/rabitabank-blog-eng">Blog</a></li>
                            </ul>
                        </div>
                     </div>
                    </li>
                </ul>
            </div>
            <div class="header__button--right">
                <div class="header__search">
                    <p>
                        <button class="header__search--button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input placeholder="Search" class="header__search--input" type="text">
                    </p>
                </div>
                <div class="header__novbe">
                    <a href="./quest.html"><i class="fa-solid fa-calendar-week"></i> Online Queue</a>
                </div>
            </div>
        </nav>
        </div>

    </header>
<div class="Scrool">
        <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            
            <div class="ScroolItem">
                <div class="ScroolItem__left">
                    <h3>Kartmane Credit card</h3>
                    <ul>
                        <li><span>Cash Out</span> <h4>100%</h4></li>
                        <li><span>Grace period</span> <h4>100 days</h4></li>
                        <li><span>Card limit</span> <h4>200 - 15000 AZN</h4></li>
                    </ul>
                    <p>
                         <a href="https://www.rabitabank.com/individual-customer/cards/kartmane-kredit-en#calc">Order</a>
                    </p>
                   
                </div>
                <div class="ScroolItem__right">
                    <img src="../img/Scrool-img.webp" alt="">
                </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ScroolItem">
                <div class="ScroolItem__left">
                    <h3>Kartmane Credit card</h3>
                    <ul>
                        <li><span>Cash Out</span> <h4>100%</h4></li>
                        <li><span>Grace period</span> <h4>100 days</h4></li>
                        <li><span>Card limit</span> <h4>200 - 15000 AZN</h4></li>
                    </ul>
                    <p>
                         <a href="https://www.rabitabank.com/individual-customer/cards/kartmane-kredit-en#calc">Order</a>
                    </p>
                   
                </div>
                <div class="ScroolItem__right">
                    <img src="../img/Scrool-img.webp" alt="">
                </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ScroolItem">
                <div class="ScroolItem__left">
                    <h3>Kartmane Credit card</h3>
                    <ul>
                        <li><span>Cash Out</span> <h4>100%</h4></li>
                        <li><span>Grace period</span> <h4>100 days</h4></li>
                        <li><span>Card limit</span> <h4>200 - 15000 AZN</h4></li>
                    </ul>
                    <p>
                         <a href="https://www.rabitabank.com/individual-customer/cards/kartmane-kredit-en#calc">Order</a>
                    </p>
                   
                </div>
                <div class="ScroolItem__right">
                    <img src="../img/Scrool-img.webp" alt="">
                </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
</div>
<section class="FastTransition">
    <div class="FastTransition__logo">
        <h3>Fast transitions</h3>

    </div>
    <div class="FastTransition__categories">
        <a href="https://www.rabitabank.com/individual-customer/loans-rabitabank/cash-loan" class="FastTransition__categories--category">
            <h3>Cash Loans</h3>
            <img src="../img/Cash.webp" alt="">
        </a>
        <a href="https://www.rabitabank.com/individual-customer/deposits-eng/universal-deposit-eng" class="FastTransition__categories--category">
            <h3>Deposits</h3>
            <img src="../img/Deposit.webp" alt="">
        </a>
        <a href="https://www.rabitabank.com/individual-customer/cashback" class="FastTransition__categories--category">
            <h3>Cashback</h3>
            <img src="../img/Cashback.webp" alt="">
        </a>
        <a href="https://www.rabitabank.com/individual-customer/fastmoneytransfers-rb" class="FastTransition__categories--category">
            <h3>Money Transfers</h3>
            <img src="../img/Money.webp" alt="">
        </a>
        <a href="https://www.rabitabank.com/individual-customer/campaigns" class="FastTransition__categories--category">
            <h3>Campaigns</h3>
            <img src="../img/Campaigns.webp" alt="">
        </a>
        <a href="https://www.rabitabank.com/individual-customer/cards/kartmanepremium" class="FastTransition__categories--category premium">
            <h3>Kartname Premium</h3>
            <img src="../img/Kartname.webp" alt="">
        </a>
    </div>
</section>
<section class="RabitaMobile">
    <div class="RabitaMobile__container">
        

        <div class="RabitaMobile__container--left">
            <h3>Rabita Mobile</h3>
            <p>Experience seamless and secure banking on your smartphone or tablet by downloading our Banking App - Rabita Mobile!</p>
            <div class="qrKod">
                <img src="../img/qrkod.png" alt="">
                <span>Scan a QR code with your camera</span>
            </div>
        </div>
        <div class="RabitaMobile__container--right">
            <img src="../img/mobile_basic.png" alt="">
        </div>
    </div>
</section>
    <script src="../main/home.js"></script>

      <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>
</html>