{% extends 'base.html' %}
    {%block content%}         <div class="rabitebot">
        <div class="container-rabitebot">
            <div class="rabitebot-left">
                <div class="rabitebot-image">
                    <img  src="../static/img/bot-new.webp" alt="">
                </div>
                <div class="rabitebot-yazi">
                    <div class="yazii">
                   <h3>
                    Rabita Bot
                   </h3>
                   <p class="yazi">RabitəBot ilə bank xidmətlərindən
                     24/7 rahat və sürətli faydalana 
                     bilərsiniz!</p>
                     </div>
                </div>
            </div> 
            <div class="rabitebot-right">
                <div class="botimage">
                <img src="https://www.rabitabank.com/resized/resize1012/center/pages/1/bot-text-new2.png" alt="">
                </div>
            </div> 
        </div>
        
    </div>
    <br><br><br> {% endblock %}



  