<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="queue">
        <div class="queue__logo">
            <h3>Online Queue</h3>
        </div>
        
        <div class="queue__container">
            <div class="queue__container--left">
                <h3>Take your queue online</h3>
                <p>Take online queues to take advantage of convenient banking services without waiting</p>
                <form action="">
                    <ul>
                        <li>
                            <label for="branch">Select a branch</label>
                            <select name="branch" id="branch">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                            </select>
                        </li>
                        <li>
                            <label for="service">Select service type</label>
                            <select name="service" id="service">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                            </select>
                        </li>
                        <li>
                            <label for="date">Select date</label>
                            <input id="date" min="2024-05-25" max="2024-06-30" type="date">
                        </li>
                        <li>
                            <label for="select_time">Select time</label>
                            <select name="select_time" id="select_time">
                                <option value="">10:00:00</option>
                                <option value="">11:00:00</option>
                                <option value="">12:00:00</option>
                            </select>
                        </li>
                    </ul>
                    <div class="numberInput">
                        <label for="number">Mobil nömrəniz</label>
                        <div class="numberInput__container">
                            <select name="number" id="number">
                                <option value="">050</option>
                                <option value="">055</option>
                                <option value="">070</option>
                            </select>
                            <input type="number" name="number" id="number">
                        </div>
                        
                    </div>
                    <div class="SubmiteForm">
                        <a href="">Növbəni götür</a>
                    </div>
                </form>
            </div>
            <div class="queue__container--right">
                <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d48610.59752052127!2d49.8636405!3d40.4052542!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x40307d5d5a2c1005%3A0x5ede1cc1418ccc54!2z0JPRj9C90LTQttC70LjQuiDQnNC-0LvQuyBHyZluY2xpayBNYWxs!3m2!1d40.4001309!2d49.8529446!4m5!1s0x403087886fc97555%3A0x63d1056df10fb889!2sOlympic%20Star%2C%205A%20Yusif%20Vazir%20Chamanzaminli%2C%20Bak%C4%B1!3m2!1d40.4018266!2d49.8314397!5e0!3m2!1sru!2saz!4v1715620741472!5m2!1sru!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>
</html>